<mat-nav-list>
    <mat-card class="profile-card">
        <img src="https://icons-for-free.com/iconfiles/png/512/graph+heart+medical+medicine+icon-1320167818975776532.png" alt="Monitor">
        <div class="header">
            <h2>Monitor AI </h2>
            <h4>info@monitorai.com</h4>
        </div>
    </mat-card>

    <mat-divider></mat-divider>

  <mat-card>
    <h2 class="white" matSubheader>Pages</h2>

    <a  class="white" mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a  class="white" mat-list-item routerLinkActive="list-item-active" routerLink="/monitor">Monitor</a>
    <a  class="white" mat-list-item routerLinkActive="list-item-active" routerLink="/about-us">About us</a>

    <mat-divider></mat-divider>

    <h2 class="white" matSubheader>Tools</h2>

    <a class="white" mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a class="white" mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

    </mat-card>
</mat-nav-list>
